
// Compass
@import "~compass-sass-mixins/lib/compass";
// Font
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&display=swap');

$green:#00ffce;
$dark_green: darken($green, 10%);

html.index { 
	background: url(../img/bg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body{
	background:#1D1D1D;
	color:#ccc;
	font-family: 'Roboto', sans-serif;
}

.btn.btn-primary{
	background:none;
	border:2px solid $green;
	color:#ccc;
	@include transition(all, ease, 0.25s);
	text-transform: uppercase;
	font-weight: 600;
	font-size: 14px;
	min-width: 140px;

	&:hover{
		background:$dark_green;
		border:2px solid $dark_green;
		color:#fff;
	}
}

.hidetilloaded{display: none;}

input.form-control, .form-control:disabled, .form-control[readonly] {
	height: 55px;
	background:#333;
	border:1px solid #111;
	color:#ddd;

	&:focus, &:active{
		background:lighten(#333,5%);
		outline:none !important;
		@include box-shadow(none !important);
		border:1px solid #111 !important;
		color:#ddd;
	}
}

.input-group > .input-group-prepend > .btn, .input-group > .input-group-prepend > .input-group-text, .input-group:not(.has-validation) > .input-group-append:not(:last-child) > .btn, .input-group:not(.has-validation) > .input-group-append:not(:last-child) > .input-group-text, .input-group.has-validation > .input-group-append:nth-last-child(n+3) > .btn, .input-group.has-validation > .input-group-append:nth-last-child(n+3) > .input-group-text, .input-group > .input-group-append:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group > .input-group-append:last-child > .input-group-text:not(:last-child) {
    background:darken(#333,5%) !important;
    border:1px solid #111;
	color:#ddd;
}


form.add_trade{position: relative;}

.search_results{
	position: absolute;
	width:100%;
	z-index: 99999;

	a{
		background:darken(#333,2%);
		color:#ddd;
		border-bottom: 1px solid #222;

		&:hover{
			background:darken(#333, 5%);
			color:$green;
		}
	}
}

.datepicker.datepicker-dropdown.dropdown-menu.datepicker-orient-left.datepicker-orient-bottom {
    padding: 10px;
}

th.dow{
	background:$dark_green;
	color:#fff;
	@include border-radius(0);
}

.datepicker table tr td.day:hover {
    background:$dark_green;
    color:#fff;
}

.datepicker.datepicker-dropdown.dropdown-menu.datepicker-orient-left.datepicker-orient-bottom {
    background: #000;
    color:#ddd;
}

.datepicker table tr td.new, .datepicker table tr td.old {
    color: #666;
}


.datepicker table tr td.active.active, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled.disabled, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover.active, .datepicker table tr td.active.disabled:hover.disabled, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active.disabled:hover[disabled], .datepicker table tr td.active.disabled[disabled], .datepicker table tr td.active:active, .datepicker table tr td.active:hover, .datepicker table tr td.active:hover.active, .datepicker table tr td.active:hover.disabled, .datepicker table tr td.active:hover:active, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active:hover[disabled], .datepicker table tr td.active[disabled] {
    background:$dark_green;
	color:#fff;
}

.day_trades{
	background:lighten(#999,5%);
	height: 100px;
	width: 100px;
	@include border-radius(100px);
	font-size: 40px;
	padding-top: 15px;
	text-align: center;
	display: block;
	margin: 0 auto;
	color:#fff;

	&.traded{
		background: $dark_green;
		font-size: 30px;
		padding-top: 25px;

		&:hover{cursor: pointer;}
	}
}

h3.bb{
	border-bottom: 1px solid #555;
	padding-bottom: 5px;
	margin-bottom: 20px;
}

ul.trade_history{
	li{
		.ticker{
			font-weight: 700;
			color:$green;
		}


	}
}













