
// Compass
@import "~compass-sass-mixins/lib/compass";
// Font
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&display=swap');

$green:#00ffce;

$slate:#648381;
$tan:#FFECD1;
$dark_green: darken($green, 10%);
$red:#e74c3c;
$purple:lighten(#7063e5,5%);

body{
	background:#1D1D1D;
	color:#ccc;
	font-family: 'Roboto', sans-serif;
	

	&.page{
		background: url(../img/candle_bg.jpg) no-repeat top center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
}

.hidetilloaded{display: none;}

a{
	color:#ccc;
	&:hover{
		color:$purple;
		text-decoration: none;
	}

	&.login_link{
		color:$green !important;
		&:hover{color:$dark_green !important;}
	}
}

a.btn-link{
	color:$purple;
	&:hover{
		color:darken($purple,5%);
		text-decoration: none;
	}

	&:active{outline: none !important; border:none !important; @include box-shadow(none !important);}
}

h3{
	color:$purple;
	font-weight: 700;
}

h4{
	color:$green;
}

.jumbotron{
	background: url(../img/hero_bg.jpg) no-repeat top center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 580px;
}

nav.mb-1.navbar.navbar-expand-lg.navbar-dark.info-color{
	background: #1D1D1D;
}

.navbar-brand{padding-top: 0;}

.navbar-expand-lg .navbar-nav .nav-link{
	padding-left: 1.5em;
}

.navbar-nav{
	a{
		font-weight: 700;
	}
}

.hero{

	h1.tagline{
		font-size: 55px;
		font-weight: 300;
		color:#fff;
		span{font-weight: 700;}
		margin-bottom: 20px;
	}

	p{
		@include text-shadow(0 2px 3px #333);
	}

	.btn.btn-secondary{
		color:#fff;
		background:$purple;
		padding: 10px 20px;
		border:none;

		&:hover{
			background:darken($purple,3%);
		}

		&:active, &:focus{
			color:#fff;
			@include box-shadow(none !important);
			background:darken($purple,5%);
		}
	}
}

.btn{font-weight: 600;}

a.btn.btn-outline-danger{
	border: 1px solid $red;
	color:#ddd !important;

	&:hover{
		background:$red;
		color:#fff;
	}
}

.btn.btn-primary{
	background:none;
	border:1px solid $green;
	color:$green;
	@include transition(all, ease, 0.25s);

	font-weight: 600;
	font-size: 14px;
	padding: 10px;
	min-width: 140px;

	&:hover, &:active, &:focus{
		background:$dark_green !important;
		border:2px solid $dark_green !important;
		color:#fff !important;
		@include box-shadow(none !important);
	}
}

.hidetilloaded{display: none;}

.card{
	border:1px solid darken(#444,2%);
}
.card-header{
	background:#000;
}

.card-body{
	background:lighten(#111,2.5%);
	overflow: auto;
}

.cta{
	background:rgba(0,0,0,.6);

	form.form{
		background:none;
	}

	.btn{
		margin: 0 auto;
		display: block;
	}
}

input.form-control, .form-control:disabled, .form-control[readonly], select.form-control.selectpicker, .bootstrap-select>.dropdown-toggle {
	height: 55px;
	background:darken(#333,2%);
	border:1px solid #111;
	color:#ddd;

	&:focus, &:active{
		background:lighten(#333,5%);
		@include box-shadow(none !important);
		border:1px solid #111 !important;
		color:#ddd;
	}
}

// .bootstrap-select>.dropdown-toggle.bs-placeholder, .bootstrap-select>.dropdown-toggle.bs-placeholder:active, .bootstrap-select>.dropdown-toggle.bs-placeholder:focus, .bootstrap-select>.dropdown-toggle.bs-placeholder:hover{
// 	background:darken(#333,2%);
// 	border:1px solid #111;
// 	color:#ddd;

// 	&:focus, &:active{
// 		background:lighten(#333,5%);
// 		@include box-shadow(none !important);
// 		border:1px solid #111 !important;
// 		color:#ddd;
// 	}
// }

.dropdown-menu.show, button.btn.dropdown-toggle.btn-light{
	background:darken(#333,2%);
	border:1px solid #111;
	color:#ddd;
}

.bootstrap-select .dropdown-menu li a{
	background:darken(#333,2%);
	color:#ddd;

	&:hover{
		background:$dark_green;
		color:#fff;
	}
}

span.bs-ok-default.check-mark{color:$purple;}
.filter-option-inner-inner{color:#ddd;}
.filter-option {padding-top: 10px;}

.input-group > .input-group-prepend > .btn, .input-group > .input-group-prepend > .input-group-text, .input-group:not(.has-validation) > .input-group-append:not(:last-child) > .btn, .input-group:not(.has-validation) > .input-group-append:not(:last-child) > .input-group-text, .input-group.has-validation > .input-group-append:nth-last-child(n+3) > .btn, .input-group.has-validation > .input-group-append:nth-last-child(n+3) > .input-group-text, .input-group > .input-group-append:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group > .input-group-append:last-child > .input-group-text:not(:last-child) {
    background:darken(#333,5%) !important;
    border:1px solid #111;
	color:#ddd;
}

.tradingview-widget-container{
	top:52px;
}
.tradingview-widget-copyright{display: none;}


form.add_trade{
	position: relative;

	hr{
		margin: 25px 0;
		border-top: 1px solid #333;
	}
}

.search_results{
	position: absolute;
	width:100%;
	z-index: 99999;

	a{
		background:darken(#333,2%);
		color:#ddd;
		border-bottom: 1px solid #222;

		&:hover{
			background:darken(#333, 5%);
			color:$green;
		}
	}
}

.datepicker.datepicker-dropdown.dropdown-menu.datepicker-orient-left.datepicker-orient-bottom {
    padding: 10px;
}

th.dow{
	background:$dark_green;
	color:#fff;
	@include border-radius(0);
}

.datepicker table tr td.day:hover {
    background:$dark_green;
    color:#fff;
}

.datepicker.datepicker-dropdown.dropdown-menu{
    background: #000;
    color:#ddd;
}

.datepicker table tr td.new, .datepicker table tr td.old {
    color: #666;
}


.datepicker table tr td.active.active, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled.disabled, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover.active, .datepicker table tr td.active.disabled:hover.disabled, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active.disabled:hover[disabled], .datepicker table tr td.active.disabled[disabled], .datepicker table tr td.active:active, .datepicker table tr td.active:hover, .datepicker table tr td.active:hover.active, .datepicker table tr td.active:hover.disabled, .datepicker table tr td.active:hover:active, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active:hover[disabled], .datepicker table tr td.active[disabled] {
    background:$dark_green;
    border:1px solid $dark_green;
	color:#fff;
	@include border-radius(3px);
}

// .datepicker table tr td.today, .datepicker table tr td.today.disabled, .datepicker table tr td.today.disabled:hover, .datepicker table tr td.today:hover{
// 	background:red;
// }

.day_trades{
	background:lighten(#999,5%);
	height: 100px;
	width: 100px;
	@include border-radius(100px);
	font-size: 35px;
	font-weight: 600;
	padding-top: 22px;
	text-align: center;
	display: block;
	margin: 0 auto;
	color:#fff;

	&.traded{
		background: $dark_green;
		font-size: 28px;
		font-weight: 600;
		padding-top: 29px;
		&:hover{cursor: pointer;}
	}
}

h3.bb{
	border-bottom: 1px solid #555;
	padding-bottom: 5px;
	margin-bottom: 20px;
}

ul.trade_history{
	li{
		.ticker{
			font-weight: 700;
			color:$green;
		}


	}
}

table.table{
	thead{
		th{
			background:$dark_green;
			color:#fff;
			border: none;
			font-weight:700;
		}
	}

	tbody{
		tr{
			border-bottom: 1px solid #555;
			color:#ddd;
			background:#222;

			&:nth-child(odd){
				background:#333;
			}

			&:last-of-type{border-bottom: none ;}
			td{border:none;}

			&:hover{background: darken(#333,3%);}
		}
	}
}

.delete_trade{
	color:#e3342f;
	&:hover{
		color:lighten(#e3342f,10%);
	}
}

.modal-header{
	color:$green;
	background:darken(#303030,3%);
	border-bottom:1px solid #555;
}

.modal-content{
	background:#303030;
}

.modal-title{
	color:$purple;
}

.modal-body{
	p{
		font-size: 18px;
		padding-bottom: 0;
	}
}

.modal-footer{
	background:darken(#303030,3%);
	border-top:1px solid #555;
}

.footer{
	padding-top: 100px;

	.copyright{
		color:#888;
	}
}















